<%= render Artus.SharedView, "navbar.html", %{user: @user} %>

<div class="container main">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
    <li class="breadcrumb-item active">Tags</li>
  </ol>

  <%= render Artus.SharedView, "alert.html", %{conn: @conn} %>
  <div id="reactTag"></div>
</div>
