<%= form_tag("/admin/tags/#{@type}") %>
  <div class="input-group">
    <input name="tag" type="text" class="form-control" placeholder="Tag">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit">
        <i class="fa fa-plus"></i> Add
      </button>
    </span>
  </div>
</form>
