//@import '../../../node_modules/bootstrap/scss/variables';
@import '_flat';

$body-bg: $clouds;
$navbar-dark-color: white;
$btn-primary-bg: $belize_hole;
$artus-primary: darken($nephritis, 10%);
$border-radius: 0;

$input-btn-focus-width:       .0rem !default;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width grey !default;

@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/react-select/scss/default';
@import 'font-awesome/font-awesome';
@import 'flag-icon/flag-icon';

body,html {
  height: 100%;
}

nav {
  background-color: $artus-primary;
}

nav[aria-label="Page navigation"] {
  background: none;
}

#loginBox {
  width: 33vw;
}

.btn-lg, .alert {
  border-radius: 0;
}

.btn-artus {
  @include button-variant(
  $artus-primary, 
  darken($artus-primary, 7.5%), 
  darken($artus-primary, 10%), 
  lighten($artus-primary,5%), 
  lighten($artus-primary, 10%), 
  darken($artus-primary,30%));
}

.btn-outline-artus {
    @include button-outline-variant($artus-primary, #222222, lighten($artus-primary,5%), $artus-primary);
}

.modal-content {
  border-radius: 0px;
  border: none;
}

.btn-block {
  border-radius: 0px;
}

.navbar-dark {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.main {
  padding-top: 30px;
  padding-bottom: 30px;
}

#ias-logo {
  //@include center-block;
  height: 200px;
  width: 90%;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.breadcrumb { 
  background-color: white;
}

.add-button {
  margin-top: 3vh;
  margin-left: 5px;
}

.login-form {
  background-color: white;
  padding: 20px;
  h2 {
    margin-bottom: 3vh;
  }
}

.input-form-space {
  margin-top: 50px;
}

.btn-group {
  display: flex;
}

.btn-group-fix {
  width: 100%;
  .btn-group-item-fix {
    margin-bottom: 0;
  }
}

.review-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.kapitaelchen {
  font-variant: small-caps;
}

.query-time, .filter-row {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#noJS {
  margin-top: 5vh;
}

#logicGroup {
    width: 100%;
    .btn {
      width: 25%;
    }
  }



.Select-control {
  border-radius: 0px;
}

.form-control::placeholder {
  opacity: 0.5;
} 

#searchBar {
  height: 50px;
  border-bottom: none

  &:focus {
  outline: none !important;
  }
}

.search-item {
  padding: 2px 0.75rem 2px;
}
.search-item-active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

#searchCard {
  z-index: 1;
  list-style-type: none;
  overflow: hidden;

  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;

  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
}

// .container *:not(#searchWrapper) {
//   filter: blur(3px);
//   pointer-events: none;

// }
