<%= render Artus.SharedView, "navbar.html", %{user: @user} %>

<div class="container main">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/caches">Working Caches</a></li>
    <li class="breadcrumb-item active">New Cache</li>
  </ol>
  
  <%= render "form.html", changeset: @changeset, action: cache_path(@conn, :create) %>
</div>
