[Unit]
After=network.target

[Service]
WorkingDirectory=/home/artus/app
ExecStart=/home/artus/app/artus/bin/artus start
ExecStop=/home/artus/app/artus/bin/artus stop
User=artus
RemainAfterExit=yes
Restart=always

[Install]
WantedBy=multi-user.target
